In [ ]:
import init_notebooks
from data_loader import LoadData 

vente_1 = LoadData("../data/raw/annex1.csv", source_type="csv")
vente_2 = LoadData("../data/raw/annex2.csv", source_type="csv")
vente_3 = LoadData("../data/raw/annex3.csv", source_type="csv")
vente_4 = LoadData("../data/raw/annex4.csv", source_type="csv")

Données CSV chargées depuis ../data/raw/annex1.csv
Données CSV chargées depuis ../data/raw/annex2.csv
Données CSV chargées depuis ../data/raw/annex3.csv
Données CSV chargées depuis ../data/raw/annex4.csv

In [2]:
vente_2.afficher_info()

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878503 entries, 0 to 878502
Data columns (total 7 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Date                         878503 non-null  object
 1   Time                         878503 non-null  object
 2   Item Code                    878503 non-null  int64
 3   Quantity Sold (kilo)         878503 non-null  float64
 4   Unit Selling Price (RMB/kg)  878503 non-null  float64
 5   Sale or Return               878503 non-null  object
 6   Discount (Yes/No)            878503 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 46.9+ MB
None


Premières lignes :
      Date         Time       Item Code  Quantity Sold (kilo)  Unit Selling Price (RMB/kg) Sale or Return Discount (Yes/No)
2020-07-01 09:15:07.924 102900005117056                 0.396                          7.6           sale                No
2020-07-01 09:17:27.295 102900005115960                 0.849                          3.2           sale                No
2020-07-01 09:17:33.905 102900005117056                 0.409                          7.6           sale                No
2020-07-01 09:19:45.450 102900005115823                 0.421                         10.0           sale                No
2020-07-01 09:20:23.686 102900005115908                 0.539                          8.0           sale                No


nombre de valeurs uniques par colonne
Date                             1085
Time                           849632
Item Code                         246
Quantity Sold (kilo)             2794
Unit Selling Price (RMB/kg)       264
Sale or Return                      2
Discount (Yes/No)                   2

In [3]:
vente_3.afficher_info()

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55982 entries, 0 to 55981
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      55982 non-null  object
 1   Item Code                 55982 non-null  int64
 2   Wholesale Price (RMB/kg)  55982 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ MB
None


Premières lignes :
      Date       Item Code  Wholesale Price (RMB/kg)
2020-07-01 102900005115762                      3.88
2020-07-01 102900005115779                      6.72
2020-07-01 102900005115786                      3.19
2020-07-01 102900005115793                      9.24
2020-07-01 102900005115823                      7.03


nombre de valeurs uniques par colonne
Date                        1091
Item Code                    251
Wholesale Price (RMB/kg)    2380

In [4]:
vente_4.afficher_info()

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Item Code      251 non-null    int64
 1   Item Name      251 non-null    object
 2   Loss Rate (%)  251 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.0+ KB
None


Premières lignes :
      Item Code                Item Name  Loss Rate (%)
102900005115168         Niushou Shengcai           4.39
102900005115199        Sichuan Red Cedar          10.46
102900005115250 Xixia Black Mushroom (1)          10.80
102900005115625    Local Xiaomao Cabbage           0.18
102900005115748             White Caitai           8.78


nombre de valeurs uniques par colonne
Item Code        251
Item Name        247
Loss Rate (%)    126

In [ ]:

import pandas as pd
df2 = LoadData("../data/raw/annex2.csv", "csv").data
df2['Date'] = pd.to_datetime(df2['Date'], errors='coerce')
df2_filtered = df2[df2['Date'].dt.year.isin([2020])]

dfs = [
    LoadData("../data/raw/annex1.csv", "csv", size=1000).data,
    df2_filtered, 
    LoadData("../data/raw/annex3.csv", "csv", size=1000).data,
    LoadData("../data/raw/annex4.csv", "csv", size=1000).data
]

manager = LoadData("../data/raw/annex1.csv", "csv", size=1000)

# Fusion
ventes = manager.fusionner(dfs, on="Item Code", how="inner")

ventes.head()

Données CSV chargées depuis ../data/raw/annex2.csv
Données CSV chargées depuis ../data/raw/annex1.csv
Données CSV chargées depuis ../data/raw/annex3.csv
Données CSV chargées depuis ../data/raw/annex4.csv
Données CSV chargées depuis ../data/raw/annex1.csv
Fusion des DataFrames sur Item Code avec une jointure inner.

,Item Code,Item Name_x,Category Code,Category Name,Date_x,Time,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No),Date_y,Wholesale Price (RMB/kg),Item Name_y,Loss Rate (%)
0,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables,2020-07-01,09:33:09.579,0.686,6.0,sale,No,2020-07-01,3.88,Amaranth,18.52
1,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables,2020-07-01,09:33:09.579,0.686,6.0,sale,No,2020-07-02,3.93,Amaranth,18.52
2,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables,2020-07-01,09:33:09.579,0.686,6.0,sale,No,2020-07-03,3.57,Amaranth,18.52
3,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables,2020-07-01,09:33:09.579,0.686,6.0,sale,No,2020-07-05,3.48,Amaranth,18.52
4,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables,2020-07-01,09:33:09.579,0.686,6.0,sale,No,2020-07-06,3.35,Amaranth,18.52

In [ ]:
ventes.to_csv("../data/raw/ventes.csv", index=False)